// custom theme colors

$primary: #d9202d;
$secondary: #19489a;
$light: #ffffff;
$body-bg: #F8F9FA;
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$custom-theme-colors: (
    "text": #000000,
    "accent": #d8b113,
    "accent-light": #f7e7a9,
    "altlight": #d5f1fc,

);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap';